@font-face {
    font-family: 'vazir';
    src: url('../public/vazir-font-v16.1.0/Vazir-Light.woff');
}

body {
    font-family: "vazir";
    direction: rtl;
}

.container {
    display: flex;
    margin-top: 10px;
    width: 100%;
}

.link {
    text-decoration: none;
    color: inherit;
}